@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
body{
  font-family: 'Lato', sans-serif !important;
}
header {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
    background: url(/assets/img/backup_bg.png) black no-repeat center center scroll;
    background-size: cover;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.85;
    z-index: 1;
  }
  
  header #logo{
    width: 30vw;
  }

  header h2{
    margin-top: 10vh;
    font-weight: 300;
  }

  #right_arrow{
    margin-left: 10px;
    width: 0.8rem;
    height: 0.8rem;
    margin-bottom: 0.2rem;
  }
  .sim-button{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10vh;
    padding: 10px 20px 10px 20px;
    display: inline-block;
    width: 22%;
    cursor: pointer;
    font-weight: 300;
  }

  .sim-button1{
    width: 22%;
    text-align: center;
    margin-right: auto;
    margin-left: 4vw;
    margin-top: 2vh;
    padding: 10px 20px 10px 20px;
    display: inline-block;
    cursor: pointer;
    font-weight: 300;
  }

  .button1 {
    color: white;
    background-color: transparent;
    border: 1px solid #0094ff;
    border-radius: 20px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
  }
  .button1 a{
    color: rgba(51,51,51,1);
    text-decoration: none;
    display: block;
  }
  .button1::before, .button1::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    color: white;
    background-color: rgba(0,148,255,0.45);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: translate(-100%,0);
    transform: translate(-100%,0);
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  }
  .button1::after{
    -webkit-transition-delay: 0.2s; /* Safari */
      transition-delay: 0.2s;
  }
  .button1:hover::before, .button1:hover::after{
    -webkit-transform: translate(0,0);
    transform: translate(0,0);	
  }


    @media (max-width: 768px) {

    header {
      background: url(/assets/img/backup_bg.png) black no-repeat center center scroll;
      background-size: cover;
    }
    header #logo{
      width: 80vw !important;
    }
    header .overlay {
      opacity: 0.75;
    }
    .sim-button{
      width: 80%;
    }
    .sim-button1{
      width: 80%;
      margin-left: auto;
    }
  }